## PROFUNDIDAD

In [32]:
# Crear un DataFrame de ejemplo
data = pd.read_csv('chile.csv')
df = pd.DataFrame(data)    
df = df.drop('Unnamed: 0', axis=1)

In [33]:
df.head(5)

   magnitud  longitud  latitud  profundidad fecha_local hora_local
0       4.1  -66.0750 -22.5145      295.673  2023-05-09      09:15
1       4.4  -66.7440 -21.0683      236.151  2023-05-09      00:56
2       4.6  -71.3262 -28.6913       37.684  2023-05-08      02:34
3       4.4  -66.8884 -23.3425      235.300  2023-05-07      07:30
4       5.2  -70.5066 -25.3571       40.047  2023-05-07      06:29

In [34]:
import pandas as pd

# Definir los límites de los rangos
bins = [0, 70.000, 300.000, float('inf')]

# Definir las etiquetas de los rangos
labels = ['Superficial', 'Intermedio', 'Profundo']

# Aplicar la discretización a la columna de profundidad
df['profundidad_categoria'] = pd.cut(df['profundidad'], bins=bins, labels=labels, right=False)

In [35]:
df.head(5)

,magnitud,longitud,latitud,profundidad,fecha_local,hora_local,profundidad_categoria
0,4.1,-66.0750,-22.5145,295.673,2023-05-09,09:15,Intermedio
1,4.4,-66.7440,-21.0683,236.151,2023-05-09,00:56,Intermedio
2,4.6,-71.3262,-28.6913,37.684,2023-05-08,02:34,Superficial
3,4.4,-66.8884,-23.3425,235.300,2023-05-07,07:30,Intermedio
4,5.2,-70.5066,-25.3571,40.047,2023-05-07,06:29,Superficial

In [42]:
print(df.dtypes)

magnitud                  float64
longitud                  float64
latitud                   float64
profundidad               float64
fecha_local                object
hora_local                 object
profundidad_categoria    category
dtype: object

In [48]:
df['latitud'] = df['latitud'].astype(str)
df_latitud_problema = df[~df['latitud'].str.match(r'^-?\d+\.\d+$')]
print(df_latitud_problema['latitud'])

Series([], Name: latitud, dtype: object)

In [49]:
df['latitud'] = df['latitud'].astype(float)

In [50]:
print(df.columns)

Index(['magnitud', 'longitud', 'latitud', 'profundidad', 'fecha_local',
       'hora_local', 'profundidad_categoria'],
      dtype='object')

In [36]:
# Exportar el DataFrame a un archivo CSV
df.to_csv('regiones_chile_categorias.csv', index=False)

## REGIONES

In [28]:
data = pd.read_csv('regiones_chile.csv', encoding='latin1', delimiter=';')
df_po = pd.DataFrame(data)

In [29]:
df_po.head(5)

        Región Habitantes       Latitud     Longitud
0     Santiago   7.116.706  -33.437.776  -70.650.450
1   Valparaíso   1.054.253  -33.045.846  -71.619.675
2       Biobío   1.036.142  -37.339.141  -72.410.682
3     Coquimbo     534.239  -30.754.665  -70.900.554
4  Antofagasta     441.211  -23.646.374  -70.398.003

In [39]:
# Cambiar el nombre del campo "Región" a "Region"
df_po = df_po.rename(columns={'Región': 'Region'})

In [40]:
df_po.head(5)

        Region Habitantes       Latitud     Longitud
0     Santiago   7.116.706  -33.437.776  -70.650.450
1   Valparaíso   1.054.253  -33.045.846  -71.619.675
2       Biobío   1.036.142  -37.339.141  -72.410.682
3     Coquimbo     534.239  -30.754.665  -70.900.554
4  Antofagasta     441.211  -23.646.374  -70.398.003

In [43]:
print(df.dtypes)

magnitud                  float64
longitud                  float64
latitud                   float64
profundidad               float64
fecha_local                object
hora_local                 object
profundidad_categoria    category
dtype: object

In [41]:
# Exportar el DataFrame a un archivo CSV
df_po.to_csv('regiones_chile.csv', index=False)

In [38]:
df_po.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Región       10 non-null     object
 1   Habitantes   10 non-null     object
 2   Latitud      10 non-null     object
 3   Longitud     10 non-null     object
dtypes: object(4)
memory usage: 448.0+ bytes

In [ ]:
import pandas as pd

# Definir los rangos de magnitud
rangos_magnitud = [0, 2.0, 3.9, 4.9, 5.9, 6.9, 7.9, float('inf')]
etiquetas_magnitud = ['Micro', 'Menor', 'Ligero', 'Moderado', 'Fuerte', 'Mayor', 'Gran']

# Discretizar los valores de magnitud
df['magnitud_categoria'] = pd.cut(df['magnitud'], bins=rangos_magnitud, labels=etiquetas_magnitud, right=False)

# Verificar el resultado
print(df[['magnitud', 'magnitud_categoria']].head())