Importar librerias.

In [2]:
import pandas as pd
import time
"""from selenium import webdriver
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC"""

'from selenium import webdriver\nfrom bs4 import BeautifulSoup\nfrom selenium import webdriver\nfrom selenium.webdriver.common.by import By\nfrom selenium.webdriver.support.ui import WebDriverWait\nfrom selenium.webdriver.support import expected_conditions as EC'

## "Estados Unidos."

Los datos demograficos se descargaron a trav√©s de [geo_ref](http://www.geo-ref.net/sp/chl.htm).

In [12]:
eeuu = pd.read_csv(r'datos_demograficos_eeuu.csv')

Visualizar tabla. No existen datos faltantes, valores nulos.

In [13]:
eeuu.head(20)

,region,codigo_region,capital,area,poblacion,densidad_poblacion
0,Alabama,US-AL,Montgomery,135 767,5 039 877,"37,1"
1,Alaska,US-AK,Juneau,1 723 337,732 673,"0,4"
2,Arizona,US-AZ,Phoenix,295 234,7 276 316,"24,6"
3,Arkansas,US-AR,Little Rock,137 732,3 025 891,"22,0"
4,California,US-CA,Sacramento,423 967,39 237 836,"92,5"
5,Colorado,US-CO,Denver,269 601,5 812 069,"21,6"
6,Connecticut,US-CT,Hartford,14 357,3 605 597,"251,1"
7,Delaware,US-DE,Dover,6 446,1 003 384,"155,7"
8,District of Columbia,US-DC,Washington,"158,4",670 050,"4 230,1"
9,Florida,US-FL,Tallahassee,170 312,21 781 128,"127,9"
10,Georgia,US-GA,Atlanta,153 910,10 799 566,"70,2"
11,Hawaii,US-HI,Honolulu,28 313,1 441 553,"50,9"
12,Idaho,US-ID,Boise,216 643,1 900 923,"8,8"
13,Illinois,US-IL,Springfield,149 995,12 671 469,"84,5"
14,Indiana,US-IN,Indianapolis,94 326,6 805 985,"72,2"
15,Iowa,US-IA,Des Moines,145 746,3 193 079,"21,9"
16,Kansas,US-KS,Topeka,213 100,2 934 582,"13,8"
17,Kentucky,US-KY,Frankfort,104 656,4 509 394,"43,1"
18,Louisiana,US-LA,Baton Rouge,135 659,4 624 047,"34,1"
19,Maine,US-ME,Augusta,91 633,1 372 247,"15,0"

_Transformacion_.

Reemplazar puntos y comas en las variables __area__, __poblacion__ y __densidad__.

In [14]:
eeuu['area'] = eeuu.area.str.replace(' ','')
eeuu['poblacion'] = eeuu.poblacion.str.replace(' ','')
eeuu['densidad_poblacion'] = eeuu.densidad_poblacion.str.replace(',','.')
eeuu['area'] = eeuu.area.str.replace(',','.')
eeuu['densidad_poblacion'] = eeuu.densidad_poblacion.str.replace(' ','')

Analizar formato.

In [17]:
eeuu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region              51 non-null     object
 1   codigo_region       51 non-null     object
 2   capital             51 non-null     object
 3   area                51 non-null     float64
 4   poblacion           51 non-null     int64
 5   densidad_poblacion  51 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.5+ KB

Cambiar formato.

In [16]:
def cambiar_formato(pais):
    
    pais['area'] = pais['area'].apply(lambda x: float(x))
    pais['poblacion'] = pais['poblacion'].apply(lambda x: int(x))
    pais['densidad_poblacion'] = pais['densidad_poblacion'].apply(lambda x: float(x))

    return pais

eeuu = cambiar_formato(eeuu)

Guardar datos en un archivo json.

In [19]:
eeuu_json = eeuu.to_json(orient = 'records')
with open('datos_demograficos_eeuu_etl.json', 'w') as f:
    f.write(eeuu_json)